<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="uk.crimeapp.main">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="uk.crimeapp.location.LocationActivity">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="crimeapp.uk"
                    android:pathPattern="/"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name="uk.crimeapp.crime.CrimeActivity">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="crimeapp.pablisco.com"
                    android:pathPattern="/.*"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
    </application>

</manifest>